<app-card>
  <app-card-header color="blue">
      <app-card-title title="Informações do Cliente" icon = "icon-client.png"></app-card-title>
  </app-card-header>

  <app-card-content>

    <app-card-item text="Nome" value="Jorbe Muniz Braga Junior"></app-card-item>

      <app-card-line></app-card-line>

      <app-card-item text="Idade" value="25 anos"></app-card-item>

      <app-card-line></app-card-line>

      <app-card-item text="Renda Mensal" value="R$ 0,00"></app-card-item>

      <app-card-line></app-card-line>

      <app-card-item text="Nacionalidade" value="Brasileiro"></app-card-item>


  </app-card-content>
</app-card>
